.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

.features img{
  width: 100px;
}

.features h2{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  margin:0;
}

.features p{
  font-size: 15px;
  font-weight: lighter;
}

/* VIDEO */


video {
position: relative;
right: 0;
bottom: 0;
max-width: 100%;
width: auto;
height: auto;
z-index: -100;
background-size: cover;
}

.overlay {
  position: absolute;
  top: 24%;
  left: 20%;
  right: 15%;
}

.overlay h1 {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
}

.overlay p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 20px;
}

.overlay a {
  color: #fff;
}

.orange {
  text-decoration: none;
}
 p a.orange {
   color: #f27950;
 }
